@font-face {
  font-family: 'iconfont';
  src:
    url('iconfont.woff2?t=1734503052029') format('woff2'),
    url('iconfont.woff?t=1734503052029') format('woff'),
    url('iconfont.ttf?t=1734503052029') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: '\e612';
}

.icon-delete:before {
  content: '\e617';
}

.icon-left:before {
  content: '\e62d';
}

.icon-right:before {
  content: '\e649';
}

.icon-right-rotating:before {
  content: '\ec09';
}

.icon-left-rotating:before {
  content: '\ec0a';
}

.icon-zoom:before {
  content: '\ec32';
}

.icon-minimize:before {
  content: '\ec33';
}

.icon-play:before {
  content: '\e67a';
}
.icon-error:before {
  content: '\e8d9';
}
